.hidden {
 display: none;
 visibility: hidden;   
}

body{
   width: 100vw;
   height: 100vh;
   background-color: #d3d3d3;
}

.profile input[type=text] {
   float: left;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   font-size: 17px;
 }

 .profile button {
   float: left;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   font-size: 17px;
 }

 .profile button:hover {
   background-color: #2196F3;
   color: white;
 }

 #drop-label {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
 }

 #click-drop {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
 }

.clickers {
  margin-top: 90px;
  margin-left: 150px;

}